{%extends "base.html"%}

{%block title%}
<h3 class="display-5">Sistem Informasi Kelurahan Kalumpang</h3>
<p class="lead">Sejarah Kelurahan Kalumpang</p>
{%endblock%}


{%block konten%}
<div class="row">
    <div class="col-md-8">
        {% for data in form %}
        <h3>Sejarah</h3>
        <hr>
        <p>{{data.sejarah}}</p>
        <br>
        <h3>Profil Kelurahan</h3>
        <hr>
        <p>{{data.profil_kel}}</p>
        <br>
        <h3>Visi Misi Kelurahan </h3>
        <hr>
        <p>{{data.visi_misi}}</p>


        {%endfor%}

    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="{{url_for('static', filename='img/1.jpeg')}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pengambilan Data</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
</div>

{%endblock%}