{%extends "base2.html"%}

{%block title%}
<h3 class="display-5">Sistem Informasi Kelurahan Kalumpang</h3>
<p class="lead">Sejarah Kelurahan Kalumpang</p>
{%endblock%}


{%block konten%}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {%for data in form%}
            <h3>Sejarah</h3>
            <hr>
            <p>{{data.sejarah}}</p>
            <br>
            <h3>Profil Kelurahan</h3>
            <hr>
            <p>{{data.profil_kel}}</p>
            <br>
            <h3>Visi Misi Kelurahan </h3>
            <hr>
            <p>{{data.visi_misi}}</p>
            {%if current_user.is_authenticated%}
            <a href="{{url_for('Sadmin.editprofil')}}/{{data.id}}" class="btn btn-warning btn-xs" data-toggle="modal"
                data-target="#modalEdit{{data.id}}">Edit</a>
            <a class=" btn btn-info" href="{{ url_for ('Sadmin.isi_data_profil')}}">isi data</a>
            {%else%}
            {%endif%}

            <!-- awal edit data pengaduan -->
            <div id="modalEdit{{data.id}}" class="modal fade " role="dialog">
                <div class="modal-dialog">
                    <!-- modal konten -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Edit Data</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('Sadmin.editprofil')}}" method="POST">
                                <div class="form-group">
                                    <label>Sejarah:</label>
                                    <input type="hidden" name="id" value="{{data.id}}">
                                    <textarea name="sejarah" id="sejarah" cols="60"
                                        rows="10">{{data.sejarah}}</textarea>
                                </div>
                                <div class="form-group">
                                    <label>Profil Kelurahan:</label>
                                    <textarea name="profil_kel" id="profil_kel" cols="60"
                                        rows="10">{{data.profil_kel}}</textarea>
                                </div>
                                <div class="form-group">
                                    <label>Visi Misi:</label>
                                    <textarea name="visi_misi" id="visi_misi" cols="60"
                                        rows="10">{{data.visi_misi}}</textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit">simpan</button>
                                </div>
                            </form>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- akhir data pengaduan -->
            {%endfor%}

        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="{{url_for('static', filename='img/1.jpeg')}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pengambilan Data</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}