.warna-bg{
    background: linear-gradient(to right, rgba(91,134,229, .92), rgba(54,209,220, .92));
}

.jumbotron-bg{
    background: url(../img/ternate.jpg);
    background-size: cover;
    background-size: 500px;
}

body{
    background-image:url(../img/bgg.jpg);
    background-size: cover;
    border: #cccccc;
}